<br>
<div class="container-fluid">
    <h1>
        Searching word : <small> {{ word }} </small>
    </h1>
    
    <br>
    <div class="row" *ngIf="links.results.length == 0"> 
        <div class="col-md-12">
            <div class="alert alert-info" role="alert"> No hay paginas encontradas con la palabra: {{ word }}</div>
        </div>
    </div>
    <h2>
        We found a total of {{ links.results.length }} results
    </h2>
    <div class="row">
        <div class="col-md-12" *ngFor="let link of links.results">
            <div class="card">
                <div class="card-header">
                <h4> {{ link.url }}</h4>
                </div>
                <div class="card-body">
                  <h5> Page Ranks: {{ link.pagerank }}</h5>
                  <a href="http://{{link.url}}" class="btn btn-primary btn-block"target="_blank">Visitar lugar</a>
                </div>
            </div>

        </div>
    </div>
    


</div>

